beautifulsoup4
flask
google-api-python-client
google_auth_oauthlib
langchain
langchain_pinecone
langchain_unstructured
langchain_voyageai
pandas
pinecone
python-dotenv>=1.0.0
quart>=0.18.4
requests
selenium>=4.10.0
apscheduler
dotenv
psutil>=5.9.5
hypercorn>=0.14.3
